* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  text-align: center;
}

h1 {
  color: #e9536c;
  font-family: "sacramento", cursive;
  font-size: 450%;
  font-weight: 900;
  letter-spacing: 5px;
}
h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 92px auto 80px auto;
}
h3 {
  font-weight: 600;
}

/* Navigation---------------------------------------------------------------------------- */

.navLink {
  color: white;
  border: none;
  text-decoration: none;
}

.navLink:hover {
  color: #ee8683;
  text-decoration: none;
}

.navList {
  color: #fff;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 20px;
}

/* Header -----------------------------------------------------------------------*/
header {
  height: 100vh;
  width: 100%;
  /* give the image black overlay */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
}

.content-box h1 {
  font-size: 52px;
}

.content-box a {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box p {
  color: #fff;
}

.content-box a:hover {
  color: #000;
  background: #fff;
  transition: 0.5s all;
}

.element {
  color: #ee8683;
  font-weight: bold;
}

.btn {
  color: #fff;
  border-radius: 100px;
  /* 3d button */
  transform: perspective(500px) rotateY(-15deg);
  /* text-shadow: 3px 2px 1px rgba(0, 0, 0, .4); */
  cursor: pointer;
  overflow: hidden;
  animation: buttonAnim 1s 2.5s onwards;
  transition: all 0.5s;
}

.btn:hover {
  transform: perspective(500px) rotateY(15deg);
  /* text-shadow: -3px 2px 1px rgba(0, 0, 0, .4); */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#EE8683+0,ad1283+46,de47ac+100 */
  background: #ee8683;
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ee8683 0%,
    #ee8683 46%,
    #ee8683 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ee8683 0%,
    #ee8683 46%,
    #ee8683 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ee8683 0%, #ee8683 46%, #ee8683 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EE8683', endColorstr='#EE8683', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

@keyframes buttonAnim {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.5s;
  /* background: linear-gradient(to right, transparent, #fff, transparent); */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+46,de47ac+100 */
  background: #ee8683;
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ee8683 0%,
    #ee8683 46%,
    #ee8683 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ee8683 0%,
    #ee8683 46%#EE8683 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ee8683 0%, #ee8683 46%, #ee8683 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##EE8683', endColorstr='#de47ac',GradientType=1 ); IE6-9 fallback on horizontal gradient */
}

.btn:hover::before {
  left: 100%;
}

/* About me */
.profile {
  width: 300px;
  height: auto;
  padding-top: 3rem;
}

.developer {
  text-decoration: underline;
}

.hero {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 0 auto;
}

.hero-left,
.hero-right {
  flex: 1 1 300px;
}

.hero-left,
.hero-right {
  align-self: center;
}

.hero-about {
  font-size: 1.2rem;
}

.hero h1 {
  font-size: 40px;
}

.background {
  background-color: #fefbe7;
}

/* Skills */
.service-header {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ee8683;
}

.services .services-item {
  padding: 10px 50px;
  margin-top: 30px;
  background-color: #ee8683;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;
}

.services .services-item i {
  display: inline-block;
  font-size: 2rem;
}

.services .services-item:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  -webkit-transition: 4s ease;
  transition: 4s ease;
}

.services .services-content {
  padding-left: 3rem;
}

@media (max-width: 880px) {
  .hero img {
    max-width: 400px;
  }

  .hero-left,
  .hero-right {
    text-align: center;
  }
}

/* Contact */
.contact {
  padding: 10rem 0 10rem 0;
  text-align: center;
  background: url(../images/contact-us-bg.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}

@keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }

  25% {
    background-color: #ced8e4;
  }

  50% {
    background-color: #519bbd;
  }

  75% {
    background-color: #8b50d4;
  }

  100% {
    background-color: #3d3d3d;
  }
}

.contact-header {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 5rem;
}

.contact-p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 5rem;
}

/* footer */
footer {
  background-color: #333333;
}

footer .r-icon a {
  font-size: 20px;
  color: #5c6b73;
  padding: 10px;
  border: 1px solid #5c6b73;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.button {
  background-color: #ee8683; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.r-btn {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}
.icon {
  color: #fff;
  transition: all 0.2s;
}

.icon:hover {
  color: #ee8683;
  transform: rotateZ(360deg);
}

.r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s all;
  transform: rotateY(35deg);
}

.text-muted {
  font-size: 1rem;
}

@media (max-width: 200px) {
  .top-container {
    height: 100vh;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
  }
}
